*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: block;
}

a{
    color: #000;
    transition: all .4s;
    border-radius: 5px;
}

a:hover{
    color: #ffbcd1;
    background-color: #000;
}

table, th, tr, td{
    border: 1px solid #000;
    border-radius: 5px;
}

table{
    width: 80%;
    height: 10vh;
    margin: 0 auto;
}

td{
    text-align: center;
    
}


.contents{
    width: 80%;
    height: 80vh;
    border: 1px solid #000;
    margin: 0 auto;
}